<div class="popup-body-wrapper">
  <form [formGroup]="addDesignationForm" (ngSubmit)="addNewDesignation()">
    <div class="header-wrap">
      <div class="main-header">Add Designation</div>
      <button type="button" class="close close-btn" (click)="close()">
        <span>&times;</span>
      </button>
    </div>
    <hr />
    <div class="detail-wrapper">
      <div class="head-text">Designation Name</div>
      <div class="select-design-wrap">
        <input
          type="text"
          formControlName="designationName"
          class="select-class mt-2"
          placeholder="Enter Designation Name"
        />
      </div>
      <small
        *ngIf="
          addDesignationForm.controls.designationName.touched &&
          addDesignationForm.controls.designationName.errors
        "
        class="error-text"
        translate
      >
        *Designation name is required.
      </small>
    </div>
    <div class="modal-footer">
      <div class="text-right footer-buttons">
        <button type="button" class="btn cancel-btn" (click)="close()">
          cancel
        </button>
        <button
          type="button"
          class="btn qw-button-sm qw-btn-primary confirm-btn"
          [disabled]="!addDesignationForm.valid"
        >
          Add
        </button>
      </div>
    </div>
  </form>
</div>
