<div>
    <div>
        <app-header activeItem="employee"></app-header>
    </div>
    <div class="mt-3" style="padding: 20px">
      <div class="desigHeader">
        <div>
          <h5><b>Add Employee </b></h5>
        </div>
      </div>
      <div style="border:1px solid rgb(204, 201, 201);padding: 16px;">
        <div class="row form-wrapp" >
          <div class="col-md-3">First Name</div>
          <div class="col-md-4 select-design-wrap">
            <input
              type="text"
              class="select-class mt-2"
            />
          </div>
        </div>

        <div class="row form-wrapp" >
          <div class="col-md-3">Last Name</div>
          <div class="col-md-4 select-design-wrap">
            <input
              type="text"
              class="select-class mt-2"
            />
          </div>
        </div>

        <div class="row form-wrapp" >
          <div class="col-md-3">Joining Date</div>
          <div class="col-md-4 select-design-wrap">
            <input
              type="date"
              class="select-class mt-2"
            />
          </div>
        </div>

        <div class="row form-wrapp" >
          <div class="col-md-3">Date of Birth</div>
          <div class="col-md-4 select-design-wrap">
            <input
              type="date"
              class="select-class mt-2"
            />
          </div>
        </div>

        <div class="row form-wrapp" >
          <div class="col-md-3">Gender</div>
          <div class="col-md-4 select-design-wrap">
            <input type="radio"  name="" value="Male">
            <label for="html" style="margin-right: 10px;">Male</label>

            <input type="radio" id="html" name="" value="female">
            <label for="html">Female</label>
          </div>
        </div>

        <div class="row form-wrapp" >
          <div class="col-md-3">Mobile Number</div>
          <div class="col-md-4 select-design-wrap">
            <input
              type="text"
              class="select-class mt-2"
            />
          </div>
        </div>

        <div class="row form-wrapp" >
          <div class="col-md-3">Landline</div>
          <div class="col-md-4 select-design-wrap">
            <input
              type="text"
              class="select-class mt-2"
            />
          </div>
        </div>

        <div class="row form-wrapp" >
          <div class="col-md-3">Email Address</div>
          <div class="col-md-4 select-design-wrap">
            <input
              type="text"
              class="select-class mt-2"
            />
          </div>
        </div>

        <div class="row form-wrapp" >
          <div class="col-md-3">Present Address</div>
          <div class="col-md-4 select-design-wrap">
            <input
              type="text"
              class="select-class mt-2"
            />
          </div>
        </div>

        <div class="row form-wrapp" >
          <div class="col-md-3">Permanent Address</div>
          <div class="col-md-4 select-design-wrap">
            <input
              type="text"
              class="select-class mt-2"
            />
          </div>
        </div>

        <div class="row form-wrapp" >
          <div class="col-md-3">Status</div>
          <div class="col-md-4 select-design-wrap">
            <input
              type="text"
              class="select-class mt-2"
            />
          </div>
        </div>

      </div>
    </div>
</div>
