@import "src/assets/scss/main";
.desigHeader{
    display: flex;
    justify-content: space-between;
  }
  
  .search-wrapper{
    display: flex;
    justify-content: end;
}
  
.search-wrapper input{
   width: 210px;
}
input[type="text"] {
    width: 34.333%;
    padding: 10px 15px;
    box-sizing: border-box;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
    border-radius: 4px;
    font-size: 14px;
    border: 1px solid #dcdfe6;
    color: #606266;
} 

.icon-settings {
  height: 20px;
  width: 100%;
}
.img-edit {
  height: 17px;
  width: 18px;
  margin-left: 10px;
  cursor: pointer;
}